<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Counter</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  
<nav>
  <h1>Counter App</h1>
</nav>
<div>
  <h1>Counter</h1>
  <p>{{ count }} times</p>
  <form action="/increment2" method="POST">
    <button>Add Two</button>
  </form>
  <form action="/reset">
    <button>Reset</button>
  </form>
</div>

</body>
</html>